# Importing Dependencies

In [38]:
import pandas as pd

In [39]:
df=pd.read_csv('Deduplication Problem - Sample Dataset.csv')

In [40]:
df.head(8)

             ln       dob gn       fn
0      SMITH JR  01/03/68  F  WILLIAM
1  ROTHMEYER JR  01/03/68  F  WILLIAM
2       ASBY JR  01/03/68  F  WILLIAM
3     SALTER JR  01/03/68  F  WILLIAM
4     SALTER JR  01/03/68  F  WILLIAM
5      BLAND JR  21/02/62  F  WILLIAM
6      BLAND JR  21/02/62  F  WILLIAM
7      BLAND JR  21/02/62  F  WILLIAM

In [41]:
df.describe()

                   ln       dob   gn      fn
count             103       103  103     103
unique             28        22    2      26
top     MICHAELSON JR  07/10/37    M  HAROLD
freq               22        24   77      24

In [42]:
df.nunique()

ln     28
dob    22
gn      2
fn     26
dtype: int64

## Vectorizing the Text & Seperating Dates

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()

In [44]:
df['day']=pd.to_datetime(df['dob']).dt.day
df['month']=pd.to_datetime(df['dob']).dt.month
df['year']=pd.to_datetime(df['dob']).dt.year

In [45]:
df.drop('dob',axis=1,inplace=True)

In [46]:
gender_dummie=pd.get_dummies(df['gn'])

In [47]:
df=pd.concat([df,gender_dummie],axis=1)
df.drop('gn',axis=1,inplace=True)

In [48]:
from sklearn.cluster import KMeans
K=KMeans()

In [49]:
Vect=vectorizer.fit_transform(df['fn'])
Kmeans_model.fit(Vect.toarray())
vectorizer.get_feature_names()

FirstNameCol=pd.DataFrame(Vect.toarray(),columns=vectorizer.get_feature_names())
vectorizer=CountVectorizer()
Vect=vectorizer.fit_transform(df['ln'])

SecondNameCol=pd.DataFrame(Vect.toarray(),columns=vectorizer.get_feature_names())

In [50]:
Final=pd.concat([df,FirstNameCol,SecondNameCol],axis=1)

In [60]:
Final.drop(['ln','fn'],axis=1,inplace=True)
Final

ValueError: labels ['ln' 'fn'] not contained in axis

In [61]:
Kmeans_model=KMeans(n_clusters=29).fit(Final)

# Evaluation

In [62]:
from sklearn.metrics import calinski_harabaz_score

In [64]:
for i in range(3,100):
    Kmeans_model=KMeans(n_clusters=i).fit(Final)
    labels=Kmeans_model.labels_
    print(i,silhouette_score(Final,labels))

3 0.5077386601873867
4 0.5456565335175568
5 0.547286146977991
6 0.5837575652223966
7 0.6340213775627886
8 0.7054171628173714
9 0.7248286576195937
10 0.689386861541976
11 0.7201766529716206
12 0.7329626049545236
13 0.7409545468434043
14 0.7466327795706269
15 0.7590480315543062
16 0.7490858348647875
17 0.7561953757439316
18 0.7325778943241413
19 0.7436096842042501
20 0.7032960865228194
21 0.7075226314005709
22 0.6984170696939037
23 0.6999881927337777
24 0.6543934997430103
25 0.6952750884883367
26 0.6353400188878386
27 0.7019621454827312
28 0.6958208876597617
29 0.6152000205689802
30 0.6753037288657341
31 0.7189403776480414
32 0.7027393388672738
33 0.6505066122813894
34 0.6580827208931014
35 0.6908711510802119
36 0.6808721869016974
37 0.6981577862051783
38 0.6808074679837671
39 0.6744046631128096
40 0.6954053382084987
41 0.6664865344631017
42 0.6906863249268869
43 0.6904311336515332
44 0.6478311600005325
45 0.6578436368454347
46 0.6620871687197973
47 0.6600928246671985
48 0.6823530326107148
49 0.687191891415204
50 0.6724524383881958
51 0.6799029228664205
52 0.6648644705031987
53 0.6413753553512345
54 0.6531055714742494
55 0.6618591087354294
56 0.6618591087354294
57 0.6547806886964062
58 0.6604074804158528
59 0.6533290603768296
60 0.6504854368932039
61 0.6504854368932039
62 0.6504854368932039
63 0.6504854368932039
64 0.6504854368932039
65 0.6504854368932039
66 0.6504854368932039
67 0.6504854368932039
68 0.6504854368932039
69 0.6504854368932039
70 0.6504854368932039
71 0.6504854368932039
72 0.6504854368932039
73 0.6504854368932039
74 0.6504854368932039
75 0.6504854368932039
76 0.6504854368932039
77 0.6504854368932039
78 0.6504854368932039
79 0.6504854368932039
80 0.6504854368932039
81 0.6504854368932039
82 0.6504854368932039
83 0.6504854368932039
84 0.6504854368932039
85 0.6504854368932039
86 0.6504854368932039
87 0.6504854368932039
88 0.6504854368932039
89 0.6504854368932039
90 0.6504854368932039
91 0.6504854368932039
92 0.6504854368932039
93 0.6504854368932039
94 0.6504854368932039
95 0.6504854368932039
96 0.6504854368932039
97 0.6504854368932039
98 0.6504854368932039
99 0.6504854368932039

In [67]:
Kmeans_model=KMeans(n_clusters=65).fit(Final)
labels=Kmeans_model.labels_

In [68]:
labels

array([34, 56, 37,  1,  1,  2,  2,  2, 36, 36, 52, 55, 59,  2, 11, 11,  4,
        4, 46, 25, 27, 41, 54, 38, 19, 38, 19, 14,  3,  3,  6, 49, 50, 53,
       22, 26, 26, 26,  7,  7, 35, 35, 39, 12, 23, 17, 51, 57,  8,  8, 28,
       28, 28, 24, 24,  5,  5,  5, 29, 29, 48, 30, 18, 18, 44, 47, 21, 21,
       21, 21, 21, 21, 21, 21, 21, 20, 20, 20, 20,  0,  0, 43, 20, 20, 33,
       33, 32, 31, 15, 45, 10, 10, 10, 42,  9, 58,  9,  9,  9, 13, 16, 40,
       40])

In [69]:
Score=pd.DataFrame(labels,columns=['Similarity'])

In [70]:
pd.concat([Final,Score],axis=1).to_csv("Unique.csv",index=False)