# <h1><center>HackerCamp Summer 2018 - Innovaccer </center></h1>
<h2><center>Submitted By</center></h2>
<h3><center>Dhruvraj Singh Rawat</center></h3>
<h3><center>LNM Institute of Information Technology</center></h3>

<center>The main aim is to create a robust model which can Identify Variation in names and identifying a unique person and hence solve deduplication of records comming from multiple sources.<center>

<center>I have solved this problem using <font color=green>Unsupervised Learning</font> with the help of <font color=green>K-Means Clustering Algorithm</font> <center>

### Importing Dataset and Exploring

In [1]:
import pandas as pd #Importing Pandas library for Data-Analysis

In [131]:
df=pd.read_csv('dataset/Deduplication Problem - Sample Dataset.csv') #Reading the Dataset

In [129]:
df.head(8) #Visualizing the Dataset

             ln       dob gn       fn
0      SMITH JR  01-03-68  F  WILLIAM
1  ROTHMEYER JR  01-03-68  F  WILLIAM
2       ASBY JR  01-03-68  F  WILLIAM
3     SALTER JR  01-03-68  F  WILLIAM
4     SALTER JR  01-03-68  F  WILLIAM
5      BLAND JR  21-02-62  F  WILLIAM
6      BLAND JR  21-02-62  F  WILLIAM
7      BLAND JR  21-02-62  F  WILLIAM

In [4]:
df.describe()

                   ln       dob   gn      fn
count             112       112  112     112
unique             37        24    2      28
top     MICHAELSON JR  07-10-37    M  HAROLD
freq               22        24   86      24

In [5]:
df.nunique()

ln     37
dob    24
gn      2
fn     28
dtype: int64

### Vectorizing the Text & Seperating Dates

In [6]:
from sklearn.feature_extraction.text import CountVectorizer #Importing CountVectorizer for Vectorizing the Text

In [7]:
#Splitting the Dob to different coloumn

df['day']=pd.to_datetime(df['dob']).dt.day
df['month']=pd.to_datetime(df['dob']).dt.month
df['year']=pd.to_datetime(df['dob']).dt.year

In [8]:
df.drop('dob',axis=1,inplace=True) #After splitting dob droping the original column

In [9]:
# Splitting Gender the categorical value into 2 columns -Male and Female

gender_dummie=pd.get_dummies(df['gn']) 
df=pd.concat([df,gender_dummie],axis=1)
df.drop('gn',axis=1,inplace=True)

In [12]:
#Vectorizing the First-Name and Last-Name

vectorizer = CountVectorizer()
Vect1=vectorizer.fit_transform(df['fn'])
vectorizer.get_feature_names()
FirstNameCol=pd.DataFrame(Vect1.toarray(),columns=vectorizer.get_feature_names())


vectorizer=CountVectorizer()
Vect2=vectorizer.fit_transform(df['ln'])
SecondNameCol=pd.DataFrame(Vect2.toarray(),columns=vectorizer.get_feature_names())

In [13]:
Final=pd.concat([df,FirstNameCol,SecondNameCol],axis=1) #Concatting the Vectorized First-Name & Last-Name to the original df
Final.drop(['ln','fn'],axis=1,inplace=True) #Dropping the Non-vectorized First-Name & Last-Name

### Creating Manual Feature

Here we are creating a MANUAL feature ! This feature is created to teach our model the SIMILARITY between a Name with other Names in the data-set.This Feature was created because it was noted that model was clustering only SAME-NAMES together not the SIMILAR-NAMES.

I have increased the Bias of the Similarity coef 3 times to that when two names have same word,so as model can understand this concept more effectively.

In [15]:
from sklearn.metrics.pairwise import cosine_similarity #Using cosine similarity for finding similarity

In [16]:
len_fn=[]
len_ln=[]

for i in range(len(df)):
    len_fn.append('fn'+str(i)) # creating the column label for fn's
    len_ln.append('ln'+str(i)) # creating the Column label for ln's

In [17]:
fn_df=pd.DataFrame(3*cosine_similarity(Vect1[:], Vect1),columns=len_fn) #finding similarity coef of a given fn with other fn's
ln_df=pd.DataFrame(3*cosine_similarity(Vect2[:], Vect2),columns=len_ln) #finding similarity coef of a given ln with other ln's

Final_1=pd.concat([Final,fn_df,ln_df],axis=1) #concatting the similarity coef's to the main dataframe

## Evaluation

For Evaluation of the Model we are using the Silhouette Coefficient's that is calculated using the mean intra-cluster distance (a) and the mean nearest-cluster distance (b) for each sample. The Silhouette Coefficient for a sample is (b - a) / max(a, b).

In [136]:
# Silhouette_score function returns the mean Silhouette Coefficient over all samples.
# To obtain the values for each sample, we used silhouette_samples.
from sklearn.metrics import silhouette_score,silhouette_samples 

from sklearn.cluster import KMeans # Importing KMeans clustering algorithm

In [137]:
# Here we are passing different value of cluster (k) and finding the Silhouette for the same
score=[]
for i in range(2,100):
    Kmeans_model=KMeans(n_clusters=i).fit(Final_1)
    labels=Kmeans_model.labels_
    score.append(silhouette_score(Final_1,labels))

In [28]:
print ("The Optimum number of clusters have been found to be "+str(score.index(max(score))+2)+" with Silhouette Score of "+str(max(score)))

The Optimum number of clusters have been found to be 46 with Silhouette Score of 0.7709069728197805

In [25]:
# Fitting the KMeans Model to Cluster Number having Highest Silhouette Score
Kmeans_model=KMeans(n_clusters=score.index(max(score))+2).fit(Final_1)
labels=Kmeans_model.labels_

In [121]:
# <EXTRA> Creating a CSV-File for better understand which samples are clustering to which cluster 
cluster_no=pd.DataFrame(labels,columns=['Cluster Number'])
pd.concat([df,cluster_no],axis=1).to_csv("Insider.csv",index=False)

In [132]:
# Creating a dataframe that contain only those samples that have highest Silhouette Score for a given cluster.
# Thus effectively removing all the duplicate samples and leaving those which sample which represents a given Cluster accurately
df1=pd.read_csv('dataset/Deduplication Problem - Sample Dataset.csv')
rst=pd.DataFrame({'Cluster No':labels,'Silhouette Score':silhouette_samples(Final_1,labels)})
result=pd.concat([df1,rst],axis=1)
result.drop_duplicates(subset=['Cluster No','Silhouette Score'],keep='first',inplace=True)
result.sort_values(by=['Silhouette Score','Cluster No'],ascending=[False,True],inplace=True)
result.drop_duplicates(subset=['Cluster No'],keep='first',inplace=True)

In [138]:
result.drop(['Cluster No','Silhouette Score'],axis=1).to_csv('result.csv',index=False) # Saving the above df to a CSV File