# Importing Dependencies

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Deduplication Problem - Sample Dataset.csv')

In [3]:
df.head(8)

             ln       dob gn       fn
0      SMITH JR  01/03/68  F  WILLIAM
1  ROTHMEYER JR  01/03/68  F  WILLIAM
2       ASBY JR  01/03/68  F  WILLIAM
3     SALTER JR  01/03/68  F  WILLIAM
4     SALTER JR  01/03/68  F  WILLIAM
5      BLAND JR  21/02/62  F  WILLIAM
6      BLAND JR  21/02/62  F  WILLIAM
7      BLAND JR  21/02/62  F  WILLIAM

In [4]:
df.describe()

                   ln       dob   gn      fn
count             103       103  103     103
unique             28        22    2      26
top     MICHAELSON JR  07/10/37    M  HAROLD
freq               22        24   77      24

In [5]:
df.nunique()

ln     28
dob    22
gn      2
fn     26
dtype: int64

## Vectorizing the Text & Seperating Dates

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()

In [7]:
df['day']=pd.to_datetime(df['dob']).dt.day
df['month']=pd.to_datetime(df['dob']).dt.month
df['year']=pd.to_datetime(df['dob']).dt.year

In [8]:
df.drop('dob',axis=1,inplace=True)

In [9]:
gender_dummie=pd.get_dummies(df['gn'])

In [10]:
df=pd.concat([df,gender_dummie],axis=1)
df.drop('gn',axis=1,inplace=True)

In [11]:
from sklearn.cluster import KMeans
K=KMeans()

In [12]:
Vect=vectorizer.fit_transform(df['fn'])
Kmeans_model.fit(Vect.toarray())
vectorizer.get_feature_names()

FirstNameCol=pd.DataFrame(Vect.toarray(),columns=vectorizer.get_feature_names())
vectorizer=CountVectorizer()
Vect=vectorizer.fit_transform(df['ln'])

SecondNameCol=pd.DataFrame(Vect.toarray(),columns=vectorizer.get_feature_names())

NameError: name 'Kmeans_model' is not defined

In [84]:
Final=pd.concat([df,FirstNameCol,SecondNameCol],axis=1)

In [85]:
Final.drop(['ln','fn'],axis=1,inplace=True)

In [86]:
Kmeans_model=KMeans(n_clusters=29).fit(Final)

# Evaluation

In [87]:
from sklearn.metrics import calinski_harabaz_score

In [ ]:
for i in range(3,100):
    Kmeans_model=KMeans(n_clusters=i).fit(Final)
    labels=Kmeans_model.labels_
    print(i,silhouette_score(Final,labels))

3 0.5077386601873867
4 0.5456565335175568
5 0.547286146977991
6 0.5721155067646232
7 0.6325338078524015
8 0.7054171628173714
9 0.7248286576195937
10 0.689386861541976
11 0.7201766529716206
12 0.7329626049545236
13 0.7409545468434043
14 0.7466327795706269
15 0.7590480315543062
16 0.7614821605480093
17 0.7561953757439316
18 0.7357260844222578
19 0.7394926353936104
20 0.6991790377121798
21 0.7075226314005709
22 0.6984170696939037
23 0.6518560698499154
24 0.692737658595242
25 0.6231277998861884
26 0.6424122841333305
27 0.630983182878539
28 0.6494707478889343
29 0.6888141548282886
30 0.6345825529454152
31 0.6861626723203716
32 0.6323820197257443
33 0.6544744560445475
34 0.6680206773750154
35 0.6714016806337765
36 0.6819465830299378
37 0.6857687889920675
38 0.654320849575078
39 0.6563651009140491
40 0.6588804892961764
41 0.6821951325428064
42 0.6819075072495737
43 0.6470972407179191
44 0.66997151819204
45 0.6801681447133426
46 0.668629728458645
47 0.6493986828473696
48 0.6791167866560223
49 0.6701941850023428
50 0.6905668613333957

In [ ]:
Kmeans_model=KMeans(n_clusters=65).fit(Final)
labels=Kmeans_model.labels_

In [ ]:
labels

In [ ]:
Score=pd.DataFrame(labels,columns=['Similarity'])

In [ ]:
pd.concat([Final,Score],axis=1).to_csv("Unique.csv",index=False)